.board{
  font-size: 30px;
  margin: 15px;
}

.category-row{
  width: 100%;
  height: 25%;
  display: flex;
}

.app-modal-window .modal-dialog {
  width: 500px;
}

.category-row:last-child{
  border-bottom: 1px solid #000;
}

.column{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  text-align: center;
}

.column-category{
  width: 30%;
}

.footer {
  position: relative;
  height: 100px;
  clear:both;
  padding-top:60px;
}

.column-category:first-child{
  border-left: 1px solid #000;
}

.column-question{
  width: 14%;
  cursor: pointer;
}
