<html ng-app="app" >
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/schema.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/angular-ui-bootstrap-modal.js"></script>
    <script type="text/javascript" src="scripts/socket.io.min.js"></script>
    <script type="text/javascript" src="scripts/socket.min.js"></script>
    <link rel="stylesheet" href="scripts/bootstrap.css" />
  </head>
  <body ng-controller="jeopardyController">
    <table ng-show="isMainBoard">
      <tr ng-repeat="item in board">
        <td>
          {{item.category}}
        </td>
        <td ng-repeat="question in item.questions" ng-click="showQuestion($parent.$index, $index)">
          {{question.isActive? question.cost : ""}}
        </td>
      </tr>
    </table>

    <div modal="showModal" close="cancel()">
        <div class="modal-header">
            <h4>{{currentQuestion.category}} {{currentQuestion.cost}}</h4>
        </div>
        <div class="modal-body">
            <p>{{currentQuestion.question}}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" ng-click="ok()">Okay</button>
        </div>
    </div>

    <div modal="showLogin">
        <div class="modal-header">
            <h4>Welcome back, comrade!</h4>
        </div>
        <div class="modal-body">
            <input type="text" ng-model="teamName"/>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" ng-click="login(teamName)">Okay</button>
        </div>
    </div>
    <div modal="waitForStart">
        <p>Please wait a while...</p>
    </div>

    <div ng-show="showStartButton">
      <input type="button" ng-click="startGame()">Let the battle begin!</input>
    </div>

    <div ng-show="!isMainBoard && !waitForStart">
        <div>
            <input type="button" ng-click="push_button()">I KNOW THE ANSWER!!!</input>
        </div>
    </div>
  </body>
</html>
