<html ng-app="app" >
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/schema.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/angular-ui-bootstrap-modal.js"></script>
    <script type="text/javascript" src="scripts/socket.io.min.js"></script>
    <script type="text/javascript" src="scripts/socket.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body ng-controller="jeopardyController">
    <div ng-show="isMainBoard" class="board">
      <div ng-repeat="item in board" class="category-row">
        <div class="column column-category">
          {{item.category}}
        </div>
        <fieldset class="column column-question" ng-repeat="question in item.questions"
                ng-click="showQuestion($parent.$index, $index)" ng-disabled="!question.isActive">
          {{question.isActive? question.cost : ""}}
        </fieldset>
      </div>
    </div>

    <div modal="showQuestionModal" close="cancel()">
        <div class="modal-header">
            <h4>{{currentQuestion.category}} {{currentQuestion.cost}}</h4>
        </div>
        <div class="modal-body">
            <p>{{currentQuestion.question}}</p>
        </div>
        <div class="modal-footer">
          <p>Отвечает...</p>
          <p>{{currentPlayer}}</p>
          <div ng-show="!!currentPlayer">
              <button class="btn btn-success" ng-click="answer(currentPlayer, currentQuestion.cost, true)">Это правильный ответ!</button>
              <button class="btn btn-danger" ng-click="answer(currentPlayer, currentQuestion.cost, false)">А это нет :-(</button>
          </div>
          <div ng-show="!currentPlayer">
              <button class="btn btn-default" ng-click="answer(null, 0, null)">Нет ответа</button>
          </div>
          </div>
    </div>

    <div modal="showLogin">
        <div class="modal-header">
            <h4>Имя команды</h4>
        </div>
        <div class="modal-body">
            <input type="text" ng-model="teamName"/>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" ng-click="login(teamName)">"Это имя нашей команды</button>
        </div>
    </div>
    <div modal="waitForStart">
        <p>Ожидаем...</p>
    </div>

    <div modal="showStartButton">
      <div class="modal-body">
        <button type="button" ng-click="startGame()" class="btn btn-success">Let the battle begin!</button>
      </div>
    </div>

    <div ng-show="isPlayer && !showLogin && (!waitForStart || gameRunning)">
        <div>
          {{teamName}}
        </div>
        <div>
            <button type="button" ng-click="push_button()" class="btn btn-success">Есть ответ</button>
        </div>
        <div>
            <p>Ваш счёт: {{playerTotal}}</p>
        </div>
    </div>
    <footer ng-show="isMainBoard" class="footer">
      <div><p>СЧЁТ</p></div>
      <div ng-repeat="player in players">
          {{player.name}} - {{player.score}}
      </div>
    </footer>
  </body>
</html>
