<html ng-app="app" >
  <head>
    <meta charset="utf-8">
    <script src="./scripts/angular.js"></script>
    <script src="./scripts/schema.js"></script>
    <script src="./scripts/app.js"></script>
    <script src="./scripts/angular-ui-bootstrap-modal.js"></script>
    <script src="./scripts/socket.io.min.js"></script>
    <script src="./scripts/socket.min.js"></script>
    <link rel="stylesheet" href="./scripts/bootstrap.css" />
  </head>
  <body ng-controller="jeopardyController">
    <table>
      <tr ng-repeat="item in board">
        <td>
          {{item.category}}
        </td>
        <td ng-repeat="question in item.questions" ng-click="showQuestion($parent.$index, $index)">
          {{question.isActive? question.cost : ""}}
        </td>
      </tr>
    </table>

    <div modal="showModal" close="cancel()">
        <div class="modal-header">
            <h4>{{currentQuestion.category}} {{currentQuestion.cost}}</h4>
        </div>
        <div class="modal-body">
            <p>{{currentQuestion.question}}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" ng-click="ok()">Okay</button>
        </div>
    </div>
  </body>
</html>
